html,
body {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
a:link,
a:visited {
  color: #000;
  text-decoration: none;
}
a:active,
a:hover {
  color: #333;
}
h1 {
  text-align: center;
  margin: 0;
  padding: 1.25rem;
}
h2 {
  margin: 0;
  padding: 0;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
aside {
  background: green;
  text-align: center;
}
aside li {
  padding: 0 0 1rem 0;
}
main {
  background: blue;
}
footer {
  background: gold;
  padding: 1rem;
  line-height: 1.35;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}
.center {
  text-align: center;
}
.main-section {
  padding: 1rem;
}
.main-section li {
  list-style-type: disc;
  margin-bottom: 1rem;
}
.main-section li:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 600px) {
  .container {
    display: grid;
    grid-template-columns: 260px auto;
  }
  aside {
    position: relative;
  }
  nav {
    position: fixed;
  }
}
